{% extends "layouts/page.html" %}

{% block pageId %}main-document{% endblock %}

{% block pageContent %}
  <header class="centered-navigation" role="banner">
    <div class="centered-navigation-wrapper">
      <a href="javascript:void(0)" class="mobile-logo">
        <img src="img/logo-ape.png" alt="Logo image">
      </a>
      <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
      <nav role="navigation">
        <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
          <li class="nav-link"><a href="about.html">About Me</a></li>
          <li class="nav-link"><a href="contact.html">Contact</a></li>
          <li class="nav-link logo">
            <a href="/" class="logo">
              <img src="img/logo-ape.png" alt="code-chimp logo">
            </a>
          </li>
          <li class="nav-link"><a href="javascript:void(0)">Magic Beans</a></li>
          <li class="nav-link more"><a href="javascript:void(0)">Decks</a>
            <ul class="submenu">
              <li><a href="http://component-dev.code-chimp.info">Component Based Development</a></li>
              <li class="more"><a href="javascript:void(0)">Talk on Foo</a>
                <ul class="submenu">
                  <li><a href="javascript:void(0)"><i class="fa fa-caret-square-o-right fa-fw"></i> Slide Deck</a></li>
                  <li><a href="javascript:void(0)"><i class="fa fa-github fa-fw"></i> Repository</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  {% block body %}{% endblock %}

  <footer class="footer" role="contentinfo">
    {# <div class="footer-logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
    </div> #}
    <div class="footer-links">
      <ul>
        <li><h3>Content</h3></li>
        <li><a href="/">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <ul></ul>
      <ul>
        <li><h3>Follow Me</h3></li>
        <li><a href="https://twitter.com/code_chimp"><i class="fa fa-fw fa-twitter"></i> Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/tgoshinski"><i class="fa fa-fw fa-linkedin"></i> LinkedIn</a></li>
        <li><a href="https://github.com/code-chimp"><i class="fa fa-fw fa-github-alt"></i> Github</a></li>
        <li><a href="https://plus.google.com/+TimothyGoshinski/"><i class="fa fa-fw fa-google-plus-square"></i> google+</a></li>
        <li><a href="http://ghost.code-chimp.com"><i class="fa fa-fw fa-bullhorn"></i> Blog</a></li>
      </ul>
    </div>

    <hr>

    <p>Lovingly hand-crafted by a knuckle-dragging keyboard ape. &copy; 2015</p>
  </footer>
{% endblock %}
