<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{page.title}}{{titleSeparator}}{{siteName}}</title>
  <meta name="description" content="{{description}}">
  {% if keywords %}<meta name="keywords" content="{{keywords}}">{% endif %}
  {% if author %}<meta name="author" content="{{author}}">{% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if humansTxt %}<link type="text/plain" rel="author" href="/humans.txt">{% endif %}
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="css/style.css">
</head>
<body id="{{page.id}}">
  {% include "shared/page-header.html" %}

  {% block body %}{% endblock %}

  <footer class="footer" role="contentinfo">
    <div class="footer-links">
      <ul>
        <li><h3>Content</h3></li>
        <li><a href="/">Home</a></li>
        <li><a href="decks.html">Slide Decks</a></li>
        <li><a href="posts.html">Blog Posts</a></li>
        <li><a href="posts.html">Resources</a></li>
        <li><a href="about.html">About/Contact</a></li>
      </ul>
      <ul></ul>
      <ul>
        <li><h3>Follow Me</h3></li>
        <li><a href="https://twitter.com/code_chimp"><i class="fa fa-fw fa-twitter"></i> Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/tgoshinski"><i class="fa fa-fw fa-linkedin"></i> LinkedIn</a></li>
        <li><a href="https://github.com/code-chimp"><i class="fa fa-fw fa-github-alt"></i> Github</a></li>
        <li><a href="https://plus.google.com/+TimothyGoshinski/"><i class="fa fa-fw fa-google-plus-square"></i> google+</a></li>
        <li><a href="http://ghost.code-chimp.com"><i class="fa fa-fw fa-bullhorn"></i> Blog</a></li>
      </ul>
    </div>
    <hr>
    <p>Lovingly hand-crafted by a knuckle-dragging keyboard ape. &copy; {{copyrightLine}}</p>
  </footer>

  <script src="js/vendor.js"></script>
  <script src="js/main.js"></script>
  {% if googleAnalytics %}
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','{{googleAnalyticsId}}','auto');ga('send','pageview');
  </script>
  {% endif %}
</body>
</html>
