<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="img/logo-ape.png" alt="code chimp logo">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
      <li class="nav-link more"><a href="decks.html">Decks</a>
        {%if decks.length %}
        <ul class="submenu">
          <li><a href="javascript:void(0)">Submenu Item</a></li>
          <li><a href="javascript:void(0)">Another Item</a></li>
          <li class="more"><a href="javascript:void(0)">Item with submenu</a>
            <ul class="submenu">
              <li><a href="javascript:void(0)">Sub-submenu Item</a></li>
              <li><a href="javascript:void(0)">Another Item</a></li>
            </ul>
          </li>
          <li class="more"><a href="javascript:void(0)">Another submenu</a>
            <ul class="submenu">
              <li><a href="javascript:void(0)">Sub-submenu</a></li>
              <li><a href="javascript:void(0)">An Item</a></li>
            </ul>
          </li>
        </ul>
        {% endif %}
      </li>
      <li class="nav-link more"><a href="posts.html">Posts</a>
        {% if posts.length %}
        <ul class="submenu">
          <li><a href="javascript:void(0)">Submenu Item</a></li>
          <li><a href="javascript:void(0)">Another Item</a></li>
          <li class="more"><a href="javascript:void(0)">Item with submenu</a>
            <ul class="submenu">
              <li><a href="javascript:void(0)">Sub-submenu Item</a></li>
              <li><a href="javascript:void(0)">Another Item</a></li>
            </ul>
          </li>
          <li class="more"><a href="javascript:void(0)">Another submenu</a>
            <ul class="submenu">
              <li><a href="javascript:void(0)">Sub-submenu</a></li>
              <li><a href="javascript:void(0)">An Item</a></li>
            </ul>
          </li>
        </ul>
        {% endif %}
      </li>
        <li class="nav-link"><a href="resources.html">Resources</a></li>
        <li class="nav-link active-nav-item"><a href="about.html">About/Contact</a></li>
      </ul>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
      {#
        <form role="search">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
      </div>
      #}
    </div>
  </div>
</header>

{#
<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <img src="img/logo-ape.png" alt="Logo image">
    </a>
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><a href="about.html">About Me</a></li>
        <li class="nav-link"><a href="contact.html">Contact</a></li>
        <li class="nav-link logo">
          <a href="/" class="logo">
            <img src="img/logo-ape.png" alt="code-chimp logo">
          </a>
        </li>
        <li class="nav-link"><a href="javascript:void(0)">Magic Beans</a></li>
        <li class="nav-link more"><a href="javascript:void(0)">Decks</a>
          <ul class="submenu">
            <li><a href="http://component-dev.code-chimp.info">Component Based Development</a></li>
            <li class="more"><a href="javascript:void(0)">Talk on Foo</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)"><i class="fa fa-caret-square-o-right fa-fw"></i> Slide Deck</a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-github fa-fw"></i> Repository</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
#}
