#resource-page {
  @include outer-container;

  // & > header {
  //   @include span-columns(12);
  //   h1 { text-align: center; }
  // }

  & > header {
    @include fill-parent();
    @include row(table);
    h1 {
      text-align: center;
      margin-top: 1em;
      font-size: larger;
    }
  }

  // section {
  //   @include outer-container;

  //   & > header{
  //     @include span-columns(12);
  //     & > h1 { text-decoration: underline; }
  //   }

  //   article {
  //     @include span-columns(12);
  //     header {
  //       @include span-columns(3 of 12);
  //     }
  //     p { @include span-columns(9 of 12); }
  //   }
  // }

  section {
    @include fill-parent();
    @include row(table);

    & > header{
      & > h1 { text-decoration: underline; }
    }

    article {
      @include row(table);
      @include fill-parent();

      header {
        @include span-columns(3);
        @include pad();
        h1 { margin-bottom: 0; }
        h2 { font-size: smaller; }
      }
      p {
        @include span-columns(9);
        @include pad();
      }
    }
  }

}
